<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Films by Kochetkova</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <div>
            <a href="/films" class="pages">Фильмы</a>
            <a href="/genres" class="pages">Жанры</a>
            <a href="/directors" class="pages">Режиссеры</a>
            <a href="/actors" class="pages">Актеры</a>
            <a href="/view" class="pages"><b>Представление</b></a>
        </div>
        <div>
            <th:block th:each="view:${view_list}">
                <div class="box">
                    <h2 th:text="${view.name + ' ' + view.surname}"></h2>
                    <div>
                        <p>
                            <b>Количество фильмов: </b>
                            <span th:text="${view.film_count}"></span>
                        </p>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
</html>
